.picsum-img-wrapper {
    background: skyblue !important;
    height: 600px;
    position: relative;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}


